/*-------------------------
#.hero-area
--------------------------*/
.hero-area {
    position: relative;
    .single-hero-slide {
        padding: 25rem 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .banner-title {
        position: relative;
        font-family: $titleFont;
        font-size: 5rem;
        font-weight: 700;
        line-height: 6.5rem;
        color: var(--white);
        padding-left: 2.5rem;
        &:before {
            position: absolute;
            content: "";
            width: .6rem;
            height: 100%;
            top: 0;
            left: 0;
            background: var(--primary-color);
            border-radius: .8rem;
        }
    }
    .slick-arrow {
        position: absolute;
        bottom: 12rem;
        width: 2.6rem;
        height: 2.6rem;
        line-height: 2rem;
        border-radius: 50%;
        border: 1px solid var(--white);
        color: var(--white);
        text-align: center;
        z-index: 1;
        cursor: pointer;
        &::before {
            font-size: 1.4rem;
            font-weight: 900;
        }
        &.slick-prev  {
            left: calc(50% - 25px);
        }
        &.slick-next {
            left: calc(50% + 25px);
        }
    }
}
@media (max-width: 1199px) {
    .hero-area .single-hero-slide {
        padding: 20rem 0;
    }
}
@media (max-width: 991px) {
    .hero-area .single-hero-slide {
        padding: 15rem 0;
    }
}
@media (max-width: 767px) {
    .hero-area .single-hero-slide {
        padding: 10rem 0;
    }
    .hero-area .banner-title {
        font-size: 4rem;
        line-height: 5rem;
        padding-left: 2rem;
    }
    .hero-area .slick-arrow {
        bottom: 3rem;
    }
}
@media (max-width: 480px) {
    .hero-area .single-hero-slide {
        padding: 8rem 0;
    }
    .hero-area .banner-title {
        font-size: 3.2rem;
        line-height: 4.2rem;
    }
}